body{
    background-color: rgb(0, 0, 0);
    color: bisque;
    width: 100%;
}
h1{
    color: blueviolet;
    font-family: cursive;

}

h4{
    font-size: 20px;
    font-weight: 700;
    color:crimson;

}

b{
    color: aquamarine;
}
